<a href="https://colab.research.google.com/github/data2450/forest-fire-app/blob/main/forest_fire_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [34]:
url='https://raw.githubusercontent.com/nachi-hebbar/Forest-Fire-Prediction-Website/master/Forest_fire.csv'

In [35]:
import pandas as pd 
import numpy as np 
import matplotlib as plt
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
import warnings
warnings.filterwarnings("ignore")
from sklearn.svm import SVC
from sklearn.multiclass import OneVsOneClassifier
import math

In [36]:
data=pd.read_csv(url)

In [37]:
data.head()

        Area  Oxygen  Temperature  Humidity  Fire Occurrence
0   Jharkand      40           45        20                1
1  Bangalore      50           30        10                1
2    Ecuador      10           20        70                0
3          a      60           45        70                1
4  Bangalore      30           48        10                1

In [38]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Area             29 non-null     object
 1   Oxygen           39 non-null     int64
 2   Temperature      39 non-null     int64
 3   Humidity         39 non-null     int64
 4   Fire Occurrence  39 non-null     int64
dtypes: int64(4), object(1)
memory usage: 1.6+ KB

In [39]:
data=np.array(data)

In [40]:
X=data[1:,1:-1]
y=data[1:,-1]
y=y.astype('int')
X=X.astype('int')

In [41]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)
log_reg=LogisticRegression()

In [42]:
log_reg.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [43]:
inputt=[int(x) for x in "45 32 60".split(' ')]
final=[np.array(inputt)]

In [44]:
b = log_reg.predict_proba(final)

In [45]:
import pickle
# open a file, where you ant to store the data
file = open('model.pkl', 'wb')

# dump information to that file
pickle.dump(log_reg, file)

In [46]:
model = open('/content/model.pkl','rb')

In [47]:
forest = pickle.load(model)